
body {
  background-color: hsl(56, 96%, 86%);
}

#container {
  background-color: hsl(208, 96%, 90%);
  border: groove;
  width: 900px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;

}
