body {
  background-color: hsl(255,100%,50%);
}

#calculatorContainer {
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.headerFooter {
  background-color: hsl(75, 100%, 60%);
}

#header {
  border-top: solid;
  border-left: solid;
  border-right: solid;
  border-bottom: none;
  text-align: center;
  font-family: monospace;
  font-size: 60px;
  text-transform: uppercase;
}

#calculator {
  border: solid;
  background-color: hsl(255, 100%, 60%);
  text-align: center;
  padding: 10px;
}

#footer {
  border-top: none;
  border-left: solid;
  border-right: solid;
  border-bottom: solid;

}

input {
  width: 85%;
  height: 7%;
  text-align: right;
  padding: 10px;
  border: inset;
}

button {
  background-color: hsl(255, 50%, 80%);
  width: 150px;
  height: 50px;
  border: outset;
}

button:hover {
  background-color: hsl(255, 50%, 90%);
}

button:active {
  border: inset;
  border-width: thick;
  border-color: hsl(255,100%, 100%);
  background-color: hsl(255, 50%, 50%);
}


[readonly='readonly'] {
  background-color: hsl(255, 50%, 80%);
}
